# DVC tarafından takip edilecek dosyalar
# data klasörünün içindeki her şeyi yoksay...
/data/*
# AMA .dvc uzantılı dosyaları ve DVC'nin .gitignore dosyalarını yoksayma!
!/data/**/*.dvc
!/data/.gitignore

# Temporary files
__pycache__/
*.pyc

# Google secrets file
client_secrets.json